<html>
<head>
  <title> List of Cakes </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
    #  Getting cakes data using JQuery.getJSON
    $(document).ready(function() {
      $.getJSON('/cakes.json', function(cakes) {
        var cakeList = "";
        cakes.foreach(function(cake) {
            cakeList += "<li" + cake + "</li>";
        });
        $("#cake-list").html(cakeList);
        });
    });
  </script>
</head>
<body>
    <h1> Cake List</h1>
    <ul id="cake-list"></ul>
</body>
</html>