<!DOCTYPE html>
<html lang = "en">
<head>
  <title> List of Cakes </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type = "text/javascript">
      $(document).ready(function() {
        var items = [];
        $.getJSON("/cakes.json", function(cakes) {
          $.each(cakes, function(index, cake) {
            items.push("<li>" + cake + "</li>");
          });
          $("#cake-list").html(items.join(""));
        });
      });


  </script>
  
  <style>
    h1 {
      font-family: "Avenir Next";
      color: rgb(9, 181, 141);
    }

    ol {
      font-family: "Tahoma";
    }
    
  </style>
</head>
<body>
    <h1> 
      Cake List
    </h1>
    <ol id="cake-list">
    
    </ol>

  
</body>
</html>