# Code in jQuery
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js">
    # Getting cakes data using JQuery.getJSON
    $.getJSON('/cakes.json', function(results) {
      …
    } 
  </script>
</head>
</html>

# Code in Ruby
# <h1> Cakes | Nia Brown</h1>
# <% @cakes.each do |cake| %>
#     <br> <%= cake %> </br>
# <% end %>

